<?xml version="1.0" encoding="UTF-8"?>
<phpunit bootstrap="src/autoload.php">
    <testsuites>
        <testsuite name="KnapsackProblem">
            <directory suffix="Test.php">test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory>src</directory>
        </whitelist>
    </filter>
    <logging>
        <log type="coverage-html" target="coverage/"/>
        <log type="junit" target="log.junit.xml" logIncompleteSkipped="false"/>
    </logging>
</phpunit>